name: Katalon Test Automation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  katalon-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'adopt'

    - name: Download & Extract Katalon Studio Engine (Linux)
      run: |
        wget https://download.katalon.com/9.4.0/Katalon_Studio_Engine_Linux_64-9.4.0.tar.gz
        tar -xvzf Katalon_Studio_Engine_Linux_64-9.4.0.tar.gz
        chmod -R +x Katalon_Studio_Engine_Linux_64-9.4.0

    - name: Run Katalon Tests
      run: |
        ./Katalon_Studio_Engine_Linux_64-9.4.0/katalon -noSplash \
        -runMode=console \
        -projectPath=$(pwd)/cicdpipeline.prj \
        -testSuitePath="Test Suites/Guratan" \
        -browserType="Chrome" \
        -executionProfile="default" \
        -apiKey=${{ secrets.KATALON_API_KEY }}
